JAHIA_IMAGE=jahia/jahia-ee:8
UNOMI_IMAGE=jahia/jcustomer:2
ELASTICSEARCH_IMAGE=elastic/elasticsearch:7.17.28
KIBANA_IMAGE=elastic/kibana:7.17.28
MARIADB_IMAGE=library/mariadb:10-focal
SUPER_USER_PASSWORD=${SUPER_USER_PASSWORD:-root1234}
TIMEZONE=${TIMEZONE:-America/Toronto}
JAHIA_PROPERTIES=" elasticsearch.prefix:\"jahia-jcustomer-full-env\" "
ES_PREFIX="jahia-jcustomer-full-env"
CATALINA_OPTS="-Xms2g -Xmx2g"
JAHIA_CLUSTER_ENABLED=false
# for clustering turn JAHIA_CLUSTER_ENABLED to true and set the number of nodes as well as the profiles
BROWSING_NODES=2
# admin profile will start phpmyadmin and phpldapadmin
#COMPOSE_PROFILES=admin,cluster
COMPOSE_PROFILES=admin
